<style>
.container_3fY1c+.container_3fY1c {
    margin: 92px auto 0;
    padding: 24px 0;
}

.container_3fY1c {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 946px;
    margin: 0 auto;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.legal_3HAlU {
    width: 100%;
    margin-bottom:50px;
}
.menuTitle_EKMIM {
    display: none;
}
.policies_2oGvH {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
}
ol, ul {
    list-style: none;
}
.policies_2oGvH li {
    line-height: 0;
}
.policies_2oGvH a {
    color: #555b66;
    font-size: 12px;
    font-weight: 300;
    line-height: 17px;
}
a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
.copyright_YETJt {
    display: block;
    margin: 25px 0 0;
    color: #888e99;
    font-size: 12px;
    line-height: 1.6;
    text-align: left;
}
.bold_2ZMQt {
    font-weight: 700;
}
.copyright_YETJt address {
    display: inline;
}
.mobile_B_SpE {
    display: none;
}
.app_3i1Hn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    text-align: left;
}
.app_3i1Hn a {
    display: inline-block;
    color: transparent;
    font-size: 0;
}
a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
.hiddenToast_1KjT7 {
    position: fixed;
    top: auto;
    right: auto;
    bottom: 32px;
    left: 0;
    opacity: 0;
    pointer-events: none;
}
.toast_3_M_G {
    position: fixed;
    z-index: 100;
    top: auto;
    right: auto;
    bottom: 64px;
    left: 0;
    display: block;
    width: 420px;
    margin: 0 0 0 42px;
    padding: 42px 42px 42px 68px;
    color: #fff;
    border-radius: 2px;
    background: #2c2c2c;
    background: rgba(44,44,44,.94);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.close_32ngn {
    position: absolute;
    top: 16px;
    right: 16px;
    bottom: auto;
    left: auto;
    display: block;
    width: 16px;
    height: 16px;
    color: transparent;
    opacity: .4;
    font-size: 0;
}
</style>

<div class="container_3fY1c">
    <section class="legal_3HAlU">
        <div class="menuTitle_EKMIM">이용 안내</div>
        <ul class="policies_2oGvH">
            <li><a href="/notices" target="_blank" rel="noopener noreferrer">공지사항</a></li>
            <li><a href="https://policies.banksalad.com/송금/뱅샐머니-이용안내" target="_blank" rel="noopener noreferrer">하나카드 이용안내</a></li>
            <li><a href="https://www.banksalad.com/users/suspend-account" target="_blank" rel="noopener noreferrer">하나카드 이용정지</a></li>
            <li><a href="/policies/v19/privacy-policy" class="bold_nmCCA" target="_blank" rel="noopener noreferrer">개인정보처리방침</a></li>
            <li><a href="/policies/v5/terms" target="_blank" rel="noopener noreferrer">이용약관</a></li>
            <li><a href="https://policies.banksalad.com/송금/20220816/뱅샐머니-이용약관" target="_blank" rel="noopener noreferrer">전자금융거래이용약관</a></li>
            <li><a href="https://app.banksalad.com" target="_blank" rel="noopener noreferrer">인증서센터</a></li>
            <li><a href="mailto:rainist@rainist.com" rel="nofollow">사업 제휴</a></li>
        </ul>
        <div class="copyright_YETJt">
            <span class="bold_2ZMQt">(주)하나카드</span><br>
            <span>대표: 강은현  |  사업자등록번호: 105-87-73978  |  통신판매업신고: 2017-서울강남-00250</span><br>
            <span>E-mail: </span>
            <address>
                <a href="mailto:hello@banksalad.com?subject=[문의] 문의 제목을 입력해주세요&amp;body=" rel="nofollow">hello@hana.com</a>
            </address>
            <span> | </span>
            <span>주소: 서울특별시 영등포구 여의대로 108, 43층(여의도동,파크원타워Ⅰ)</span><br>
            <span>하나카드는 최신 금융 정보를 수집하기 위해 노력하고 있으며 정보 제공에 따른 법적 책임을 지지 않습니다.</span><br><br>
            <span>© hana Co., Ltd. All rights reserved.</span>
        </div>
        <ul class="mobile_B_SpE">
            <div class="app_3i1Hn">
                <a target="_blank" rel="noopener noreferrer" href="https://banksalad.page.link/qpGw">
                    <div class="apple_E1UY-" title="아이폰 앱 다운로드"></div>
                </a>
                <a target="_blank" rel="noopener noreferrer" href="https://banksalad.page.link/ePNA">
                    <div class="google_1K8ka" title="안드로이드 앱 다운로드"></div>
                </a>
            </div>
        </ul>
    </section>
</div>