---
layout: bootstrap
---

<style>
    @import "../assets/css/styles.css";
</style>
<div id="layout">
    <div id="header-wrap">
        <div class="header-container">
            {% include header.html %}

        </div>
    </div>

    <div id="content-wrap">
        <div class="main-container">
            <div class="trafficCard" id="trafficCard">
                <img src="../images/hanacard.png" width="219" height="330"/>
                <img src="../images/tvl_passport_front.png" width="219" height="330"/>
              </div>
            <div class="textAnimation">
                <div class="line">
                  <span><span class="hana">하나 컨택트리 카드</span>로</span>
                </div>
                <br/>
                <div class="line">
                  <span>전 세계 어디에서나</span>
                </div>
                <br/>
                <div class="line">
                    <span>원활하게 이동하세요</span>
                  </div>
                <br/>
                <div class="mainbutton">
                    <button id="contact">컨텍트리 카드</button>
                    <button id="cardInfo">카드충전 안내</button>
                </div>
              </div>        
        </div>
        <div class="content-container">
            {{content}}
        </div>
    </div>
    <div id="footer-wrap">
        <div class="footer-container">
            {% include footer.html %}
        </div>
    </div>

</div>
<script src="../assets/js/script.js"></script>
