
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.item {
    display: flex;
    padding: 10px; /* 각 영역의 여백을 조정합니다 */
    text-align: center;
    margin: auto;
}
.item1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.load{  
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    margin: auto;
    color: #E49600;
}


.hanabank{
    
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;

    color: #008485;

}
.home{
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #008485;
}
.from{
    
    width: 57.93px;
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #CDC9C9;
}


.to{
    
    width: 57.93px;
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #CDC9C9;

}
.min{
    /* 최단거리/최소요금/최소환승 */
    width: 186px;
    height: 17px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    color: #CDC9C9;


}
.parent_div{
    margin-top: 50px;
    margin-bottom: 80px;
}
.child_div{
    margin-left: auto;
    margin-right: auto;
    transform-origin: 50% 0%;
    background-color: white;
    height: 100%;
}
.cardBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block img {
    width: 300px;
    margin-bottom: 10px;
}

.block button {
    width: 250px;
    height: 50px;
    background: #FFFFFF;
    border: 3px solid #008485;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
    color: #008485;
}

.section_11tbR {
    display: flex;
    margin: 0 0 12px;
    padding: 48px 0;
    background: #fff;
}.container_1zV2H {
    display: flex;
    width: 100%;
    max-width: 946px;
    margin: 0 auto;
    padding: 0 32px;
    flex-direction: column;
}.featureTitle_k0uDt {
    display: flex;
    flex-direction: column;
    color: #7b7b7b;
    justify-content: center;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
}.featureTitle_k0uDt>strong {
    display: flex;
    margin: 12px 0 0;
    color: #0b0c0c;
    font-size: 28px;
    font-weight: 500;
    justify-content: center;
    letter-spacing: -2px;
}.features_2Xft6 {
    display: flex;
} ul {
    list-style: none;
}.features_2Xft6>li {
    width: 33.33%;
    padding: 0 16px;
    text-align: center;
}.featureImage_Ew8M_ {
    display: inline-block;
    width: 160px;
    margin-bottom: 16px;
}
.mobileWordBreak_D9KG7 {
    display: inline-block;
}
#map {
    width: 100%;
    height: 400px;
}
.trafficlist{
    font-size: larger;
    font-weight: 800;
    color: #008485;
}