h2{
    text-align: center;
  }
    #header-wrap {
        width: 100%;
        background-color: #FFFCFC;
    }

    #nav-wrap {
        width: 100%;
        background-color: #FFFCFC;
    }

    #content-wrap {
        width: 100%;
        background-color: #FFFCFC;
        flex-grow: 1;
    }
    #footer-wrap {
        width: 100%;
    }

    .header-container {
        width: 100%;
        margin: 0 auto;
        /* height: 100px; */
        background-color: #FFFCFC;
    }

    .nav-container {
        width: 1000px;
        margin: 0 auto;
        height: 100px;
        background-color: #FFFCFC;
    }

    .content-container {
        width: 1000px;
        margin: 0 auto;
        background-color: #FFFCFC;
    }

    .footer-container {
        width: 1000px;
        margin: 0 auto;
        background-color: #FFFCFC;
    }

    #layout {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }


    .chart-container {
        width: 400px;
        height: 300px;
        margin: 20px auto;
        border: 1px solid #ccc;
      }
      
    canvas {
        width: 600px;
        height: 100%;
    }
    table {
        border-collapse: collapse;
            /* width: 100%; */
        width: 600px;
    }
        
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }
    
    th {
        background-color: #f2f2f2;
    }
    #trafficTable{
        margin: 0 auto;
    }